.Joke {
  display: flex;
  border-bottom: 2px solid #eeeeee;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 1rem;
}

.Joke-buttons {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  width: 15%;
}

.Joke-text {
  width: 75%;
  font-size: 1rem;
}

.Joke-votes {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  border: 3px solid red;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.fa-arrow-up, .fa-arrow-down {
  font-size: 1em;
  margin: 9px;
  cursor: pointer;
}

.Joke-smiley {
  font-size: 1.7rem;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}